@import url('https://fonts.googleapis.com/css2?&family=Spicy+Rice&display=swap');
:root{
    --pink: #FC458B;
    --bright-blue: #10ADEE;
    --medium-blue: #007cba;
    --yellow: #f7c100;
    --blue: #00a5de;
    --dark-bg: #333;
    --text: #222;
    --light-bg: #fafafa;
    --salmon: #ff7979;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Spicy Rice', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    overflow-x: hidden;
}

h1{
    margin: 10px;
    color: var(--text);
    font-size: 4
    0px;
    letter-spacing: 4px;
    text-align: center;
}
h2{
    font-size: 25px;
    letter-spacing: 5px
}

.box{
    background-color: var(--bright-blue);
    color:var(--text);
    height: 200px;
    width: 200px;
    margin: 10px 0;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 5px var(--pink);
    transform: translateX(500%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-500%);
}

.box:last-of-type {
    margin-bottom: 60px;
}

.box.show{
    transform: translateX(0);
}